<title>Cally Quick-add</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="/scripts/cally-min.js"></script>
<script type="text/javascript" src="/scripts/ics.deps.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/images/favicon/site.webmanifest">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml">

<!-- Tab colour -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#f7717f">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#f7717f">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#f7717f">
